.pagination {
  display: flex;
  &__item {
    font-size: 16px;
    margin: 0 0 0 10px;
    border: 1px solid #000;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  &__break {
    margin: 0 0 0 10px;
  }
}
